<div class="contenedor_Nav">

    <img src="assets/fantasma.png" alt="">
    <div class="contenedor_barra">
        <input type="text" placeholder="Más de 500k juegos">
        <button>Search</button>
    </div>
    <img src="assets/fantasma.png" alt="">
    
</div>

<div class="contenedor_filtro1" >
    <button>Largos</button>
</div>

<div class="contenedor_filtro1" style="left: 954px;">
    <button>Imagenes</button>
</div>

<div class="contenedor_filtro1" style="left: 286px;">
    <button>Tendencias</button>
</div>