<div id="nav" class="contenedor_Nav shadow-drop-br">

    <img src="assets/fantasma.png" alt="">

    <div class="contenedor_barra">

        <input type="text" placeholder="Más de 500k juegos">
        <button>Search</button>

    </div>

    <img src="assets/fantasma.png" alt="">
    
</div>

<div class="contenedor_filtro shadow-drop-br" >

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Filtros
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><a class="dropdown-item" href="#">Something here</a></li>
          <li><a class="dropdown-item" href="#">Something else </a></li>
        </ul>
      </div>


</div>
