.padre-info-juegos {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hijo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 19px;
}

.info-de-hijo {
  border-top: solid 25px #40916C;;
}

.hijo-info img {
  width: 905px;
  height: 400px;
}

.padre-titulo {
  width:905px;
  height: 400px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padrito_titulo{
  width:905px;
  height: 420px;
  margin-bottom: -400px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padrito_titulo p {
  font-weight: 100;
  font-size: 23px;
  border-radius: 40px;
  background-color: #40916C;
  width: 180px;
  text-align: center;
  color: white;
}


.titulos_de_juegos {
    border-radius: 40px;
    background-color: #40916C;
    width: 580px;
    height: 60px;
    color: white;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
}


.info-completa {
  width: 1133px;
  height: 550px;
  border-bottom: #52B788 solid 30px;
  background-color: #90e6bd;
}

.titulos {
  width:130px;
  font-size: 22px;
  border-radius: 25px 25px 0px 0px;
  text-align:center;
  color: black;
  margin-left: 16.4%;
  margin-top: 10px;
}

/* -------------------------------------------------- */
.fondo {
  display: none;
}
.padreimg {
  display: flex;
  justify-content: center;
}
.padreimg img {
  width: 450px;
}
/* -------------------------------------------------- */



/* -------------------------------------------------- */
.bloque {
  display:none;
  height: 500px;
  color: white;
}
.Bloque1 {
  display:block
}
/* -------------------------------------------------- */



/* -------------------------------------------------- */
.caja_botones {
  margin-top: -60px;
  display: flex;
  justify-content: space-around;
}

.botones {
  background-color:#52B788;
  color: white;
  font-size: 26px;
  font-weight: 0;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 20px 20px 0px 0px;

  transition: 0.5s;
}
.botones:hover {
  transform: translateY(-10px);
}
/* -------------------------------------------------- */



/*Informacion de los juegos about screenshots y trailers*/

.info1 {
  padding: 10px;
  font-size: 14.55px;
  font-weight: 300;
}

.info1 p {
  font-family: 'Courier New', Courier, monospace;
  background-color: #40916C;
  border-radius: 10px;
  padding: 5px;
}


.sreenshots {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* -------------------------------------------------- */

















.shadow-drop-br {
	-webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-5 13:37:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-drop-br
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }





  /* ----------------------------------------------
 * Generated by Animista on 2022-7-7 12:10:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2022-7-7 12:13:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .kenburns-bottom {
	-webkit-animation: kenburns-bottom 2s ease-in-out both;
	        animation: kenburns-bottom 2s ease-in-out both;
}
/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-14 12:23:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


