<div class="padre-info-juegos">
        
    <div class="hijo-info shadow-drop-br kenburns-bottom">

        <div class="padre-titulo" >

          <div class="padrito_titulo">
            <h1 class="titulos_de_juegos">{{informacionRecibida.name}}</h1>
            <p >Creado: {{informacionRecibida.released}}</p>
            <p>Metacritica: {{informacionRecibida.metacritic}}</p>
          </div>

            <img src="{{informacionRecibida.background_image}}">
            
        </div>

    </div>
    
    <div class="info-de-hijo shadow-drop-br"> 

        <div class="info-completa" >

          <div [ngClass]="{'fondo':ocultar}" >
            <div class="padreimg">
              <img src="assets/game.png" alt="">
            </div>
          </div>

          <div class="bloque fade-in-bottom" [ngClass]="{'Bloque1':ocultar=='primero'}">

            <div class="info1">
              <p>Platforms: <span *ngFor="let item of informacionRecibida.platforms"> {{item.platform.name}}  ,</span></p>
              <p>Creadores:<span *ngFor="let item of informacionRecibida.developers"> {{item.name}}  ,</span> </p>
              <p>Website:<a>{{informacionRecibida.website}}</a></p>
              <p class="info_juego">{{informacionRecibida.description_raw}}</p>
            </div>

          </div>


          <div class="bloque fade-in-bottom" [ngClass]="{'Bloque1':ocultar=='segundo'}">

            <div *ngFor="let item of informacionRecibida.creenshots_count" class="sreenshots">
              {{item}}
            </div>
            

          </div>


          <div class="bloque fade-in-bottom" [ngClass]="{'Bloque1':ocultar=='tercero'}">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, reiciendis debitis id suscipit mollitia minus vitae culpa quia, nihil harum nam illo. Consequuntur ut aliquid exercitationem deserunt sit corrupti voluptatem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, reiciendis debitis id suscipit mollitia minus vitae culpa quia, nihil harum nam illo. Consequuntur ut aliquid exercitationem deserunt sit corrupti voluptatem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, reiciendis debitis id suscipit mollitia minus vitae culpa quia, nihil harum nam illo. Consequuntur ut aliquid exercitationem deserunt sit corrupti voluptatem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, reiciendis debitis id suscipit mollitia minus vitae culpa quia, nihil harum nam illo. Consequuntur ut aliquid exercitationem deserunt sit corrupti voluptatem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, reiciendis debitis id suscipit mollitia minus vitae culpa quia, nihil harum nam illo. Consequuntur ut aliquid exercitationem deserunt sit corrupti voluptatem?</p>

          </div>
            
        </div>

        <div class="caja_botones">

          <button (click)="ocultar='primero'" class="botones">Informacion</button>
          <button (click)="ocultar='segundo'" class="botones">Screenshots</button>
          <button (click)="ocultar='tercero'" class="botones">Trailers</button>

        </div>

    </div>

    <br>
    <br>



</div>
