<div class="padre-info-juegos scale-in-hor-center">

    <h1 class="titulos_de_juegos shadow-drop-br">Megaman Zero COllection</h1>
        
    <div class="hijo-info shadow-drop-br">

        <img src="./assets/megaman.jpg" alt="">

        <div class="info-de-hijo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate adipisci sit autem officiis laboriosam, nisi beatae in neque! Voluptates cum laudantium tempore nihil obcaecati nostrum nobis itaque hic facere officia odio dolores ipsum ipsa voluptas, atque ex in quaerat minus quam ducimus. Optio, unde odit. Iusto voluptas ab quo facilis explicabo quam laudantium distinctio beatae hic! Voluptatem officia itaque deserunt repellat alias expedita magni qui inventore possimus debitis, architecto quia accusantium esse! Commodi numquam a facere inventore repellat quam fugit suscipit, illo corrupti nobis sunt, repellendus asperiores aspernatur ex, incidunt placeat similique autem rerum cupiditate laboriosam voluptatum saepe enim voluptate!</p>
        </div>
        <div class="info-de-hijo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate adipisci sit autem officiis laboriosam, nisi beatae in neque! Voluptates cum laudantium tempore nihil obcaecati nostrum nobis itaque hic facere officia odio dolores ipsum ipsa voluptas, atque ex in quaerat minus quam ducimus. Optio, unde odit. Iusto voluptas ab quo facilis explicabo quam laudantium distinctio beatae hic! Voluptatem officia itaque deserunt repellat alias expedita magni qui inventore possimus debitis, architecto quia accusantium esse! Commodi numquam a facere inventore repellat quam fugit suscipit, illo corrupti nobis sunt, repellendus asperiores aspernatur ex, incidunt placeat similique autem rerum cupiditate laboriosam voluptatum saepe enim voluptate!</p>
        </div>


    </div>

</div>
