.contenedor_lista_juegos {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;

    background-color: #D8F3DC;
    padding-top: 180px;

    gap: 20px;
}
