<div class="contenedor_lista_juegos">

    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    <app-tarjetas></app-tarjetas>
    
</div>